/* your styles go here */

.sidebar-heading {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.sidebar-menu {
  list-style: none;
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 40px;
}
